<div class="courses-main mt-5">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <div class="all-items">
      <a href="">All items <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
    <div class="courses-nav-button">
      <button type="button" class="btn btns" routerLink="/layout/itemForm">
        <i class="fa fa-plus" aria-hidden="true"></i> NEW
      </button>
      <i class="fa fa-ellipsis-v menu" aria-hidden="true"></i>
    </div>
  </nav>
  <div class="row courses-cards">
    <div class="card col-md-4" *ngFor="let card of cards; let i = index">
      <div class="card-title">
        <div class="card-image">
          <img [src]="card.img" alt="card image" width="100%" height="100px">
        </div>
        <div class="card-content">
          <h2>
            {{ card.title }}
            <small>{{ card.subtitle }}</small>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>