     .courses-main {
       max-width: 1170px;
       margin: auto;
       overflow: hidden;
       padding: 0 20px;
       height: 100vh;
       display: flex;
       flex-direction: column;

       .navbar {
         margin-top: 1em;
         padding: 10px 2em;

         .all-items a {
           text-decoration: none;
         }

         .courses-nav-button {
           display: flex;
           gap: 1em;

           .item-details {
             background-color: #fff;
             border: 1px solid #ccc;
             padding: 20px;
             margin-top: 20px;
           }
         }

         .btns {
           background-color: #0d6efd;
           display: flex;
           align-items: center;
           gap: 5px;
           color: #fff;
           font-size: .6rem;
         }

         .menu {
           border: 1px solid #c6c6c6;
           padding: 5px 10px;
           border-radius: 5px;
         }
       }
       .courses-cards {
        position: relative;
        padding-bottom: 50px;
        margin: 0 !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow-y: auto;
 
        .card {
          margin: 5px 5px 10px 5px;
          width: calc(80% - 10px);
          cursor: pointer;
          transition: all 0.3s ease;
 
          .card-title {
            background: #ffffff;
            padding: 20px 15px;
            position: relative;
            z-index: 0;
 
            h2 {
              font-size: 14px;
              letter-spacing: -0.05em;
              margin: 0;
              padding: 5px;
 
              small {
                display: block;
                font-size: 12px;
                margin-top: 8px;
                letter-spacing: -0.025em;
              }
            }
 
          }
        }
 
        .card:hover {
          box-shadow: 10px 15px 10px -5px rgba(31, 31, 31, 0.5);
          transition: all 0.3s ease;
        }
      }
     }

    