.enquiries-Main{
.navbar {
  margin-top: 5em;
  padding: 10px 2em;
  .all-items a {
    text-decoration: none;
  }
}

.courses-nav-button {
  display: flex;
  gap: 1em;
.btn {
  background-color: #0d6efd;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: .6rem;
}
.menu {
  border: 1px solid #c6c6c6;
  padding: 5px 10px;
  border-radius: 5px;
}
.nav-icons{
  a {
     cursor: pointer;
    }
    .tableList {
      border: 1px solid #c6c6c6;
      padding: 12px 5px;
      transition: 0.3s;
      border-radius: 5px 0px 0px 5px;
      color: #333;
    }
    .cardList {
      border-radius: 0px 5px 5px 0px;
      border: 1px solid #c6c6c6;
      color: #333;
      padding: 12px 5px;
    }
    a.active i {
      background-color: #e1e1e1;
      color: #333;
      cursor: default;
      border-color: #c6c6c6;
    }
}
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 0em 2em;
  table {
    width: 100%;
    font-size: 12px;
  }
  tr {
    cursor: pointer;
  }
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
  padding: 0em 2em;
  max-height: 400px;
  overflow-y: auto;
  .card {
    text-align: center;
    padding: 20px;
    min-height: 260px;
    transition: all 250ms cubic-bezier(.02,.01,.47,1);
    box-shadow: 0 0 30px rgba(219, 219, 219, .5);
    position: relative;
    border: 1px solid transparent;
    transition: border 0.3s ease-in-out;
  }
  .card input[type='checkbox'] {
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
  }
  .checkBox {
    display: none;
  }
  .card:hover {
    border: 2px solid #007bff;
    border-radius: 8px;
    .checkBox {
      display: block;
    }
  }
  .card-body {
    cursor: pointer;
 .item-image {
   width: 80px;
   height: 80px;
   margin-bottom: 10px;
 }
 
 .item-name {
   font-weight: bold;
   font-size: 13px;
 }
 
 .item-sku {
   color: #6c757d;
   font-size: 13px;
 }
 
 .item-price {
   font-size: 14px;
   font-weight: 500;
    span {
     color: #6c7184;
   }
 }
 }
}
}













