<div class="itemsMain">
<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="form-inline">
        <a href="">All items <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
    <div class="buttonMain" routerLink="itemForm">
        <button type="button" class="btn" routerLink="/layout/itemForm">
            <i class="fa fa-plus" aria-hidden="true"></i> NEW
        </button>
        <div class="iconsize">
            <i class="fa fa-list listicon fa-xs" aria-hidden="true"></i>
            <i class="fa fa-th-large listlarge fa-xs" aria-hidden="true"></i>
        </div>
        <i class="fa fa-ellipsis-v menu" aria-hidden="true"></i>
    </div>
</nav>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="width: 10px;"><input type="checkbox"></th>
                <th scope="col">Name</th>
                <th scope="col">SKU</th>
                <th scope="col">TYPE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">RATE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>dede</td>
                <td>1325</td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>dede</td>
                <td>1987</td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td colspan="2">defe</td>
                <td>fefws</td>
                <td>frsd</td>
                <td>1543</td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>dede</td>
                <td>1987</td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>dede</td>
                <td>1987</td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>dede</td>
                <td>1987</td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>dede</td>
                <td>1987</td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>dede</td>
                <td>1987</td>
            </tr>
            <tr>
                <th scope="row"><input type="checkbox"></th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>dede</td>
                <td>1987</td>
            </tr>
        </tbody>
    </table>
</div>
</div>