<div class="downloadMain">
    <div class="downloadContainer">
        <div class="heading-images">
        <div class="heading">
            <h3 class="mb-3">Manage and fulfill orders on the go</h3>
            <p class="mb-4">Stay connected and get real-time updates on the order status, no matter where you are.</p>
        </div>
        <div class="images">
            <img src="assets/playstore.svg" width="30%" alt="no image">
            <img src="assets/appstore.svg" width="30%" alt="no image">
        </div>
        </div>
<div class="mobileImages">
    <img src="assets/mobileimage1.svg" alt="no image">
    <img src="assets/mobileimage1.svg" alt="no image">
</div>
    </div>

</div>