<div class="registerMain">
	<div class="loginContainer">		
		<div class="inputForm">
			<div class="form-main">
				<div class="logo-section mb-2">
					<h5 class="m-0"><img src="assets/image.png" alt="noimage">SkillRat</h5>
					<button class="btn"><i class="fa fa-qrcode" aria-hidden="true"></i>
						Try smart sign-in</button>
				</div>
				<div class="para mb-4">
					<h4>Sign In</h4>
					<p >to access Inventory</p>
				</div>
				<form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
					<div class="section">
						<input class="inputemail" type="email" name="email" id="email" [(ngModel)]="loginobj.Email" #Email="ngModel" placeholder="Email address or Phone Number"
							required/>
						<div class="error" *ngIf="Email.invalid && Email.touched">
							<small *ngIf="Email.errors?.['required']">Email is required.</small>
							<small *ngIf="Email.errors?.['email']">Invalid email format.</small>
						</div>
					</div>
					<div class="section">
						<input class="inputemail" type="password" name="password" [(ngModel)]="loginobj.Password" minlength="6" #Password="ngModel" id="password" placeholder="Enter a Password"
							required/>
							<div class="error" *ngIf="Password.invalid && Password.touched">
								<small *ngIf="Password.errors?.['required'] && Password.touched">Password is required.</small>
								<small *ngIf="Password.errors?.['minlength']">Must be at least 6 characters.</small>
							</div>
					</div>
					<button class="input" [ngStyle]="{background : !loginForm.valid ? '#A0D2FF' : '#159AFF'}" [disabled]="isLoading" [disabled]="!loginForm.valid" type="submit">
						<span *ngIf="!isLoading">Submit</span>
						<span *ngIf="isLoading">
						  <i class="fa fa-spinner fa-spin"></i>
						</span></button>
				</form>
			</div>
			<div class="AnotherLogin">
				<p class="mt-3" style="font-size: 15px; font-weight: 600; color: #444;">or Sign In using</p>
				<div class="icons">
					<i class="fa-brands fa-google fa-1x" style="color: orange;"></i>
					<i class="fa-brands fa-facebook-f fa-1x" style="background-color: #159AFF; color: #fff;"></i>
					<i class="fa-brands fa-linkedin fa-1x" style="background-color: #3949BE; color: #fff;"></i>
					<i class="fa-brands fa-x-twitter fa-1x" style="background-color: #444; color: #fff;"></i>
					<i class="fa-brands fa-edge fa-1x"></i>
				</div>
				<p class="mt-4 signup">Don't have a Zoho account? <span routerLink="/register" style="color: blue; cursor: pointer;">Signup now</span></p>
			</div>
		</div>
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="about">
							<img src="assets/loginslider2.png" alt="noimage">
							<div class="profileInfo">
								<h5 class="mb-4">Passwordless sign-in</h5>
								<p class="mb-3">Move away from risky passwords and experience one-tap access to Zoho. Download and install OneAuth</p>
								<div class="button">
								<button>Learn More</button>
								</div>
							</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="d-block about">
						<img src="assets/loginslider1.png" alt="noimage" width="80%" style="padding: 1em;">
						<div class="profileInfo">
							<h5 class="mb-4">MFA for all accounts</h5>
							<p class="mb-3">Secure online accounts with OneAuth 2FA. Back up OTP secrets and never lose access to your accounts.</p>
							<div class="button">
							<button>Learn More</button>
							</div>
						</div>
				</div>
				</div>
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0"
						class="active"></button>
					<button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1"></button>
				</div>
			</div>
		</div>
	</div>
</div>