<div class="integration-container">
    <h2>Zoho Inventory integrates with</h2>
    <div class="icon-row">
      <div class="icon left hidden">
        <img src="assets/image.png" alt="Gsuite" />
        <p class="icon-name">Gsuite</p>
      </div>
      <div class="icon left hidden">
        <img src="assets/image.png" alt="Zoho Books" />
        <p class="icon-name">Zoho Books</p>
      </div>
      <div class="icon left hidden">
        <img src="assets/image.png" alt="AfterShip" />
        <p class="icon-name">AfterShip</p>
      </div>
      <div class="icon left hidden">
        <img src="assets/image.png" alt="Zoho CRM" />
        <p class="icon-name">Zoho CRM</p>
      </div>
  
      <div class="icon large">
        <img src="assets/image.png" alt="Center Icon" />
        <p class="icon-name">Skill Rat</p>
      </div>
  
      <div class="icon right hidden">
        <img src="assets/image.png" alt="Shopify" />
        <p class="icon-name">Shopify</p>
      </div>
      <div class="icon right hidden">
        <img src="assets/image.png" alt="Amazon" />
        <p class="icon-name">Amazon</p>
      </div>
      <div class="icon right hidden">
        <img src="assets/image.png" alt="Razorpay" />
        <p class="icon-name">Razorpay</p>
      </div>
      <div class="icon right hidden">
        <img src="assets/image.png" alt="SPA" />
        <p class="icon-name">SPA</p>
      </div>
    </div>
    <div class="more-integrations">
      <p>MORE INTEGRATIONS</p>
    </div>
  </div>
  