<div class="sub-header">
  <app-sub-header/>
</div>
<div class="inventory-management-section">
    <div class="inventory-management-container text-center">
      <h1 class="inventory-management-title">Inventory management software designed for Indian businesses</h1>     
      <p class="inventory-management-subtitle">
        Manage orders. Track inventory. Handle GST billing. Oversee warehouses. One inventory management software to run all your inventory operations.
      </p> 
      <div class="inventory-management-button-group">
        <button routerLink="/register" class="btn btn-danger btn-lg">SIGN UP - IT'S FREE</button>
        <button class="btn btn-outline-danger btn-lg">EXPLORE DEMO ACCOUNT</button>
      </div>
    </div>
  </div>
  <div class="overview">
    <div class="image">
    <img src="assets/screen.png" alt="no image">
    </div>
  <div class="download">
    <div class="heading">
    <h3>Download our<br> mobile app for free</h3>
    </div>
    <div class="downloadlinks">
      <img src="assets/playstore.svg" alt="noimage">
      <img src="assets/appstore.svg" alt="noimage">
    </div>
  </div>
  </div>
