<div class="pricing-section">
    <div class="pricing-header m-5">
      <h2>Simple pricing. <span class="highlight">No surprises.</span></h2>
    </div>
  
    <div class="pricing-container">
      <div class="pricing-card">
        <h3>Free</h3>
        <h2>₹0</h2>
        <p>per organization / year</p>
        <p>₹0 per organization / month</p>
        <button class="btn getStarted">GET STARTED</button>
      </div>
  
      <div class="pricing-card">
        <h3>Standard</h3>
        <h2>₹12,999</h2>
        <p>per organization / year</p>
        <p>₹2,299 per organization / month</p>
        <button class="btn getStarted">GET STARTED</button>
      </div>
  
      <div class="pricing-card">
        <h3>Professional</h3>
        <h2>₹26,999</h2>
        <p>per organization / year</p>
        <p>₹5,499 per organization / month</p>
        <button class="btn getStarted">GET STARTED</button>
      </div>
  
      <div class="pricing-card popular">
        <span class="badge">MOST POPULAR</span>
        <h3>Premium</h3>
        <h2>₹45,999</h2>
        <p>per organization / year</p>
        <p>₹9,499 per organization / month</p>
        <button class="btn popular-btn">GET STARTED</button>
      </div>
  
      <div class="pricing-card">
        <h3>Enterprise</h3>
        <h2>₹89,999</h2>
        <p>per organization / year</p>
        <p>₹17,499 per organization / month</p>
        <button class="btn getStarted">Request a demo</button>
      </div>
    </div>
    <div class="link mt-5">
        <p>Check Out Our <span>Pricing Page</span> For Complete details<i
            class="fa fa-angle-right fa-2xs icon"></i></p>
      </div>
    </div>
  