<div class="itemsMain">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="form-inline">
            <a href="">All Price Lists<i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
        <div class="buttonMain" routerLink="itemForm">
            <button type="button" class="btn" routerLink="/layout/priceListForm">
                <i class="fa fa-plus" aria-hidden="true"></i> NEW PRICE LIST
            </button>
            <i class="fa fa-ellipsis-v menu" aria-hidden="true"></i>
        </div>
    </nav>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name and Description</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Details</th>
                    <th scope="col">Pricing Scheme</th>
                    <th scope="col">Round Off Prference</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PriceBook-0 <p>molestias sit consectetur</p></td>
                    <td>USD</td>
                    <td>34.000000% <p>Markup</p></td>
                    <td>-</td>
                    <td>0.99</td>
                    <td class="actions"><a routerLink="/layout/itemForm">Edit</a> <a>Mark as Active</a> <a><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>PriceBook-0 <p>molestias sit consectetur</p></td>
                    <td>USD</td>
                    <td>34.000000% <p>Markup</p></td>
                    <td>-</td>
                    <td>0.99</td>
                    <td class="actions"><a routerLink="/layout/itemForm">Edit</a> <a>Mark as Active</a> <a><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>PriceBook-0 <p>molestias sit consectetur</p></td>
                    <td>USD</td>
                    <td>78.000000% <p>Markup</p></td>
                    <td>-</td>
                    <td>0.99</td>
                    <td class="actions"><a routerLink="/layout/itemForm">Edit</a> <a>Mark as Active</a> <a><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>PriceBook-0 <p>molestias sit consectetur</p></td>
                    <td>USD</td>
                    <td>24.000000% <p>Markup</p></td>
                    <td>-</td>
                    <td>0.99</td>
                    <td class="actions"><a routerLink="/layout/itemForm">Edit</a> <a>Mark as Active</a> <a><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>PriceBook-0 <p>molestias sit consectetur</p></td>
                    <td>USD</td>
                    <td>31.000000% <p>Markup</p></td>
                    <td>-</td>
                    <td>0.99</td>
                    <td class="actions"><a routerLink="/layout/itemForm">Edit</a> <a>Mark as Active</a> <a><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>