<div class="container d-flex justify-content-between align-items-center m-0">
  <h2>Inventory Management</h2>
  <nav class="nav-links">
    <a appHoverList>Features <i class="fa fa-angle-down"></i></a>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <div class="column">
          <h4>Purchasing</h4>
          <a href="#">Purchase orders</a>
          <a href="#">Purchase receives</a>
          <a href="#">Vendor payments</a>
        </div>
        <div class="column">
          <h4>Warehousing</h4>
          <a href="#">Multi-warehouse management</a>
          <a href="#">Transfer orders</a>
          <a href="#">Picklists</a>
          <a href="">bin Location</a>
        </div>
        <div class="column">
          <h4>Order Fullfillment</h4>
          <a href="#">Backorders and dropshipments</a>
          <a href="#">Packaging and shipping</a>
          <a href="#">Post-shippment tracking</a>
          <a href="">Delivary challans</a>
          <a href="">E-way Bills</a>
          <a href="">Package geometry</a>
        </div>
        <div class="column">
          <h4>Inventory</h4>
          <a href="#">Item grouping and bundling</a>
          <a href="#">serial and batch tracking</a>
          <a href="">price List</a>
          <a href="">inventory adjustments</a>
          <a href="">barcode generation and scannings</a>
        </div>
        <div class="column">
          <h4>Order Management</h4>
          <a href="#">Sales order management</a>
          <a href="#">Multichannel selling</a>
          <a href="#">Invoicing</a>
          <a href="">sales returns</a>
        </div>
        <div class="column">
          <h4>Automation and analytics</h4>
          <a href="#">Email and field update</a>
          <a href="#">Webhooks and custom functions</a>
          <a href="#">Reporting</a>
          <a href="">Zoho analytics</a>
        </div>
      </div>
      <div class="sideImage">
        <p>features pdf</p>
        <img src="../../../../assets/image.png" alt="no image" width="100px">
        <a href="">Download Now<i
          class="fa fa-angle-right fa-2xs icon"></i></a>
      </div>
    </div>

    <a appHoverList>Solutions <i class="fa fa-angle-down"></i></a>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <div class="column">
          <h4>Business Solutions</h4>
          <a href="#">Enterprise Resource Planning</a>
          <a href="#">Supply Chain Management</a>
        </div>
        <div class="column">
          <h4>Industry Solutions</h4>
          <a href="#">E-commerce</a>
          <a href="#">Manufacturing</a>
        </div>
      </div>
    </div>

    <a href="#">Pricing</a>
    <a href="#">Customers</a>

    <a appHoverList>Integrations <i class="fa fa-angle-down"></i></a>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <div class="column">
          <h4>Third-Party Integrations</h4>
          <a href="#">API Documentation</a>
          <a href="#">CRM Connectors</a>
        </div>
      </div>
    </div>

    <a appHoverList>Resources <i class="fa fa-angle-down"></i></a>
    <div class="dropdown-menu">
      <div class="dropdown-content">
        <div class="column">
          <h4>Knowledge Base</h4>
          <a href="#">Guides</a>
          <a href="#">FAQs</a>
        </div>
      </div>
    </div>
  </nav>
</div>
