<div class="partnerMain">
     <div class="partnerContainer">
        <div class="heading">
            <h1 class="title">We have partnered with the best shipping carriers</h1>
        </div>
        <div class="partnerBrands" appHoverList>
            <a href="">Amazon</a>
            <a href="">Flipkart</a>
            <a href="">Myntra</a>
            <a href="">Juvi</a>
            <a href="">SkillRat</a>
        </div>
     </div>
</div>

<div class="E-Invoicing-Main">
    <div class="E-Invoicing-Section">
      <div class="content">
        <h5>Hello, Namaste, Vanakkam <i class="fa fa-hand-peace-o" aria-hidden="true"></i></h5>
        <p>We will be happy to have you on board.</p>
      </div>
      <div class="button">
        <button class="btn">SIGN UP FOR FREE</button>
      </div>
    </div>
    <div class="logo">
      <img src="assets/image.png" alt="no image" width="100px">
      <h2>Made In India. <span class="highlight">Made For the World.</span></h2>
    </div>
  </div>
