<div class="footer-container">
    <div class="left-section">
        <div class="download">
            <img src="assets/appstore.svg" alt="Zoho Inventory Banner" class="app" />
            <img src="assets/playstore.svg" alt="Manage Inventory Banner" class="play" />
        </div>
        <div class="banner">
            <img src="assets/banner.png" alt="nobanner" width="80%">
            <img src="assets/banner.png" alt="assets/banner.png" width="80%">
            <img src="assets/banner.png" alt="assets/banner.png" width="80%">
            <img src="assets/banner.png" alt="assets/banner.png" width="80%">
        </div>
    </div>
    <div class="right-main">
        <div class="right-section">
            <div class="row">
                <div class="column">
                    <h3>Features</h3>
                    <ul>
                        <li>Order Management Software</li>
                        <li>Warehouse Management</li>
                        <li>Inventory Management System</li>
                        <li>Inventory Tracking Software</li>
                        <li>Inventory Control</li>
                        <li>Order Fulfillment</li>
                        <li>Marketplace Integrations</li>
                        <li>Inventory Reports</li>
                        <li>Order Templates</li>
                        <li>Inventory Mobile App</li>
                        <li>Purchase Order Templates</li>
                        <li>All Features</li>
                    </ul>
                </div>
    
                <div class="column">
                    <h3>Solutions</h3>
                    <ul>
                        <li>Manufacturers</li>
                        <li>Multi-channel Selling Businesses</li>
                        <li>Multichannel Inventory Management</li>
                        <li>Ecommerce Inventory Management</li>
                        <li>Amazon Inventory Management</li>
                        <li>Shopify Inventory Management</li>
                        <li>Etsy Inventory Management</li>
                        <li>Retail Inventory Management</li>
                    </ul>
                </div>
    
                <div class="column">
                    <h3> Alternative Software Comparison</h3>
                    <ul>
                        <li>TradeGecko vs. Zoho Inventory</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Free Tools</h3>
                    <ul>
                        <li>Free SKU Generator</li>
                        <li>Reorder Point Calculator</li>
                        <li>Economic Order Quantity Calculator</li>
                        <li>Break Even Point Calculator</li>
                        <li>Inventory Turnover Ratio Calculator</li>
                        <li>Free Barcode Generator</li>
                        <li>Free Purchase Order Generator</li>
                        <li>Free Packing Slip Generator</li>
                        <li>Free Shipping Label Generator</li>
                        <li>Wholesale Price Calculator</li>
                    </ul>
                </div>
    
                <div class="column">
                    <h3> Major Integrations</h3>
                    <ul>
                        <li>Zoho Books</li>
                        <li>Zoho CRM</li>
                        <li>Google Shopping</li>
                        <li>USPS</li>
                        <li>Easyship</li>
                        <li>Slack</li>
                        <li>Crossfire EDI</li>
                        <li>All Integrations</li>
                    </ul>
                </div>
    
                <div class="column">
                    <h3> General Learning</h3>
                    <ul>
                        <li>What is Inventory Management?</li>
                        <li>What is Logistics Management?</li>
                        <li>Inventory Dictionary</li>
                        <li>Warehouse Dictionary</li>
                        <li>GDPR and Zoho Finance</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h3>Quick Links</h3>
                    <ul>
                        <li>Pricing</li>
                        <li>Pricing Comparison</li>
                        <li>Integrations</li>
                        <li>Customers</li>
                        <li>Free Inventory Management Software</li>
                        <li>Best Inventory Management Software</li>
                    </ul>
                </div>
    
                <div class="column">
                    <h3>Partners</h3>
                    <ul>
                        <li>Partner program</li>
                    </ul>
                </div>
    
                <div class="column">
                    <h3>Banking Partner</h3>
                    <ul>
                        <li>Yes Bank</li>
                        <li>HSBC</li>
                    </ul>
                </div>
    
                <div class="column">
                    <h3>Resources</h3>
                    <ul>
                        <li>Help Documentation</li>
                        <li>FAQs</li>
                        <li>API Documentation</li>
                        <li>Holiday Resources</li>
                        <li>Webinars</li>
                        <li>What's New</li>
                        <li>Small Business Guides</li>
                        <li>Blogs</li>
                        <li>GST Guides</li>
                        <li>Support</li>
                        <li>Jumpstart</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="email">
            <p><span>Send us an Email</span>(or)  India - 18005726671 (Monday - Friday 9:00AM to 7:00PM)</p>
        </div>
        <div class="Contactmain">
        <div class="contact">
            <h5 class="mb-4">Select Edition</h5>
            <select name="country" id="country">
                <option value="india" selected>India</option>
                <option value="America">America</option>
                <option value="England">England</option>
                <option value="Srilanka">Srilanka</option>
                <option value="Australia">Australia</option>
                <option value="Pakistan">Pakistan</option>
            </select>
        </div>
        <div class="availableOn">
            <h5 class="mb-3">Available On</h5>
            <div class="images">
            <img src="assets/appstore.svg" alt="no image" width="30%">
            <img src="assets/playstore.svg" alt="no image" width="30%" class="ms-2">
            </div>
        </div>
        <div class="socialMedia">
            <h5 class="mb-3">Connect With Us</h5>
            <div class="logos">
               <ul>
                <li><i class="fa-brands fa-square-x-twitter fa-2x"></i></li>
                <li><i class="fa-brands fa-square-facebook fa-2x"></i></li>
                <li><i class="fa-brands fa-instagram fa-2x"></i></li>
                <li><i class="fa-brands fa-youtube fa-2x"></i></li>
               </ul>
            </div>
        </div>
        </div>
    </div>
  </div>
 
  <div class="footer-container-two">
    <div class="apps-section">
        <div class="heading mb-4">
            <div class="line"></div>
        <h2 style="font-size: 16px; margin: 0;">Other Zoho Finance & Operations Apps</h2>
        <div class="line"></div>
        </div>
        <div class="apps-grid">
            <div class="app-item" *ngFor="let app of apps">
                <img [src]="app.icon" [alt]="app.name" />
                <div class="ms-2 nameDes">
                    <h3 class="m-0 desc">{{ app.name }}</h3>
                    <p class="m-0 para">{{ app.description }}</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-links">
            <a href="#">Zoho Home</a>
            <a href="#">Contact</a>
            <a href="#">Security</a>
            <a href="#">IPR Complaints</a>
            <a href="#">Anti-spam Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookie Policy</a>
            <a href="#">GDPR Compliance</a>
            <a href="#">Abuse Policy</a>
        </div>
        <p class="mb-5">© 2025, Juvi Corporation Pvt. Ltd. All Rights Reserved.</p>
    </footer>
</div>

 
  

  
  
  
  
  
  
 
  
 
  
  
  
  
  
  
  
  
  

  
  
  