<div class="registerMain">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #f7c64f; height: 100vh;">
                <div class="d-block about">
                    <div class="content mb-4">
                        <img src="assets/img.svg" alt="noimage" width="20px">
                        <h2>With Zoho Inventory, you can actually organize your business.</h2>
                    </div>
                    <div class="profile">
                        <img src="assets/image.png" alt="noimage" width="50px">
                        <div class="profileInfo">
                            <h5 class="m-0">Vamsi Chadaram</h5>
                            <p class="m-0">Director, Skill Rat</p>
                        </div>
                    </div>
                </div>
              </div>
          <div class="carousel-item" style="background-color: #1f1f1f; height: 100vh;">
            <div class="d-flex">
                <div class="left-content">
              <h2 class="text-light"><span>More than 75%</span> of our customers have lasting impacts*</h2>
              <div class="line"></div>
                </div>
              <div class="right-content">
              <ul class="text-light">
                <li class="highlightOne"><span>1-3 hrs per day</span> saved in order processing time</li>
                <li class="highlightOne"><span>20-30%</span> reduction in inventory costs</li>
                <li class="highlightOne"><span>30-50%</span> of manual tasks automated</li>
              </ul>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-color: #ffe5df; height: 100vh;">
            <div class="d-flex">
                <div class="left-content">
              <h2 class="highlights">Join thousands of customers preferring Zoho Inventory</h2>
                </div>
              <div class="right-content">
              <ul class="text-light">
                <li class="highlightTwo mb-3">Track inventory</li>
                <li class="highlightTwo mb-3">Streamline sales</li>
                <li class="highlightTwo mb-3">Oversee locations</li>
              </ul>
              </div>
            </div>
          </div>
  
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2"></button>
          </div>
        </div>
      </div>
  <div class="inputForm">
    <div class="form-main">
        <div class="logo-section">
            <h5><img src="assets/image.png" width="50px" alt="noimage">SkillRat</h5> 
         </div>
         <div class="para ms-3">
             <p style="font-size: 32px;">Let's get started</p>
         </div>
    <form class="form">
        <div class="section">
          <input class="input" type="text" name="name" id="name" placeholder="Company name" required />
          <label class="label" for="name" html="name"><i class="fa-solid fa-building"></i>Company Name</label>
          <div class="error"></div>
        </div>
      
        <div class="section">
          <input class="input" type="email" name="email" id="email" placeholder="Email address" required />
          <label class="label" for="email" html="email"><i class="fa-regular fa-envelope"></i>Email address</label>
          <div class="error"></div>
        </div>

        <div class="section">
            <input class="input" type="tel" name="phone" id="phone" placeholder="Phone Number" required />
            <label class="label" for="phone" html="Phone"><i class="fa-solid fa-phone"></i>Phone Number</label>
            <div class="error"></div>
          </div>
      
        <div class="section">
          <input class="input" type="password" name="password" id="password" placeholder="Password" pattern=".{8,}" required />
          <label class="label" for="password" html="password"><i class="fa-solid fa-thumbtack-slash"></i>Password</label>
          <div class="error"></div>
        </div>
        <div class="dropdown d-flex">
        <select name="country" id="country">
            <option value="india" selected>India</option>
            <option value="America">America</option>
            <option value="England">England</option>
            <option value="Srilanka">Srilanka</option>
            <option value="Australia">Australia</option>
            <option value="Pakistan">Pakistan</option>
        </select>
        <select class="ms-4" name="country" id="City">
            <option value="india" selected>Andhra Pradesh</option>
            <option value="America">Telangana</option>
            <option value="England">Karnool</option>
            <option value="Srilanka">Goa</option>
            <option value="Australia">Karnataka</option>
            <option value="Pakistan">Kerala</option>
        </select>
      </div>

      <div class="checkbox">
        <input type="checkbox" name="checkbox">
        <p>I Agree to the term and services and privacy policy</p>
      </div>
      
        <input class="input" type="submit" value="Create Your Account">
      </form>
    </div>
    <div class="AnotherLogin">
        <p class="mt-3">or login using</p>
        <div class="icons">
            <i class="fa-brands fa-google fa-1x"></i>
            <i class="fa-brands fa-facebook-f fa-1x"></i>
            <i class="fa-brands fa-linkedin fa-1x"></i>
            <i class="fa-brands fa-x-twitter fa-1x"></i>
            <i class="fa-brands fa-edge fa-1x"></i>
        </div>
        <p class="mt-4">Already have a SkillRat account?<span style="color: blue; cursor: pointer;" routerLink="/login"> Log in</span></p>
    </div>  
  </div>
</div>
