.containers {
  display: flex;
  height: 100vh;
  margin: 0;

  .side-nav {
    width: 200px;
    background: #1a1e36;
    height: 100vh;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .side-nav.closed {
    width: 60px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .logo-main {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #111428;
    img {
      width: 24px;
      margin-right: 10px;
    }
    span {
      font-size: 1.2em;
      padding-left: 1em;
    }
  }

  .routerLinks-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    a, .dropdown > a {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      color: white;
      text-decoration: none;
      font-size: 0.9em;
      transition: background 0.3s;
      position: relative;
      cursor: pointer;

      i {
        margin-right: 10px;
      }

      &:hover {
        background-color: #111428;
        color: white;
        border-radius: 5px;
      }
      &.active {
        background-color: #0d6efd;
        border-radius: 32px 0px 0px 32px;
      }
      
      .fa-chevron-right {
        margin-left: auto;
        font-size: 0.8em;
      }
    }

    .dropdown {
      width: 100%;
      .dropdown-content {
        display: flex;
        flex-direction: column;
        background: #111428;
        a {
          padding-left: 70px;
          color: white;
          &:hover {
            background-color: #0d6efd;
          }
        }
      }
    }
  }

  .toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #111428;
    i {
      color: white;
      font-size: 1.5em;
    }
  }
}
