<div class="containers">
  <div class="side-nav" [class.closed]="isClosed">
    <nav>
      <div class="logo-main mb-3">
        <img src="../../../assets/image.png" alt="noimage" class="logo" />
        <span class="logo-name">Inventory</span>
      </div>
    </nav>
    @if(businessType === 'TRAINING_INSTITUTE'){
      <div class="routerLinks-main">
        <a routerLink="/layout/homemain"
        [class.active]="activeLink === 'Courses'" 
        (click)="setActiveLink('Courses')"><i class="fa-solid fa-user-graduate" 
        [matTooltip]="isClosed ? 'Courses':''" 
        matTooltipPosition="right"></i>
        <span *ngIf="!isClosed">Courses</span></a>
        <a routerLink="/layout/item"
        [class.active]="activeLink === 'Enquiries'" 
        (click)="setActiveLink('Enquiries')"><i class="fas fa-info-circle" 
        [matTooltip]="isClosed ? 'Enquiries':''" 
        matTooltipPosition="right"></i>
        <span *ngIf="!isClosed">Enquiries</span></a>
        <a routerLink="/staff"
        [class.active]="activeLink === 'Enrollments'" 
        (click)="setActiveLink('Enrollments')"><i class="fa fa-registered" 
        [matTooltip]="isClosed ? 'Enrollments':''" 
        matTooltipPosition="right"></i>
        <span *ngIf="!isClosed">Enrollments</span></a>
        <a routerLink="/staff"
        [class.active]="activeLink === 'Instructors'" 
        (click)="setActiveLink('Instructors')"><i class="fa-solid fa-chalkboard-user" 
        [matTooltip]="isClosed ? 'Instructors':''" 
        matTooltipPosition="right"></i>
        <span *ngIf="!isClosed">Instructors</span></a>
      </div>
    }
    @else {
      <div class="routerLinks-main">
      <a routerLink="/layout/homemain" 
           [class.active]="activeLink === 'home'" 
           (click)="setActiveLink('home')"
           >
          <i class="fa fa-home" 
          [matTooltip]="isClosed ? 'Home':''" 
          matTooltipPosition="right"></i>
          <span *ngIf="!isClosed">Home</span>
        </a>

        <!-- Dropdown for Inventory -->
        <div class="dropdown">
          <a (click)="toggleDropdown('inventory')" 
             [class.active]="activeLink === 'inventory'">
            <i class="fa fa-shopping-cart" [matTooltip]="isClosed ? 'Inventory':''" 
            matTooltipPosition="right"></i>
            <span *ngIf="!isClosed">Inventory</span>
            <i class="fa fa-chevron-right"  *ngIf="!isClosed"></i>
          </a>
          <div class="dropdown-content" *ngIf="dropdownOpen === 'inventory'">
            <a routerLink="/layout/item" (click)="setActiveLink('inventory')">Item <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
            <a routerLink="/layout/itemGroup" (click)="setActiveLink('inventory')">Item Groups <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
            <a routerLink="/layout/priceList" (click)="setActiveLink('inventory')">Price Lists <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
            <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('inventory')">Inventory<br> Adjustments <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="dropdown">
        <a
           [class.active]="activeLink === 'sales'" 
           (click)="toggleDropdown('sales')">
          <i class="fa fa-shopping-cart" [matTooltip]="isClosed ? 'Sales':''" 
          matTooltipPosition="right"></i>
          <span *ngIf="!isClosed">Sales</span>
          <i class="fa fa-chevron-right"  *ngIf="!isClosed"></i>
        </a>
        <div class="dropdown-content" *ngIf="dropdownOpen === 'sales'">
          <a routerLink="/layout/customerForm" (click)="setActiveLink('sales')">Customers <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('sales')">Sales orders <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('sales')">Packages <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('sales')">Shipments <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('sales')">Delivery Challans <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('sales')">Invoice <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('sales')">Payment Received <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('sales')">Sales Returns <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('sales')">Credit Returns <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>

        </div>
        </div>
        <div class="dropdown">
        <a 
           [class.active]="activeLink === 'purchases'" 
           (click)="toggleDropdown('purchases')">
          <i class="fa fa-shopping-bag" [matTooltip]="isClosed ? 'Purchases':''" 
          matTooltipPosition="right"></i>
          <span *ngIf="!isClosed">Purchases</span>
          <i class="fa fa-chevron-right"  *ngIf="!isClosed"></i>
        </a>
        <div class="dropdown-content" *ngIf="dropdownOpen === 'purchases'">
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('purchases')">Vendor <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('purchases')">Expences <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('purchases')">Purchase Orders <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('purchases')">Purchase Recieves <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('purchases')">Bills <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('purchases')">Payment Mode <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
          <a routerLink="/layout/inventoryAdjustment" (click)="setActiveLink('purchases')">Vendor Credits <i class="fa fa-plus-circle actions" aria-hidden="true"></i></a>
        </div>
        </div>
        <a routerLink="/layout/inventoryAdjustment" 
           [class.active]="activeLink === 'integrations'" 
           (click)="setActiveLink('integrations')">
          <i class="fa fa-plug" [matTooltip]="isClosed ? 'Integrations':''" 
          matTooltipPosition="right"></i>
          <span *ngIf="!isClosed">Integrations</span>
        </a>

        <a routerLink="/layout/inventoryAdjustment" 
           [class.active]="activeLink === 'reports'" 
           (click)="setActiveLink('reports')">
          <i class="fa fa-signal" [matTooltip]="isClosed ? 'Reports':''" 
          matTooltipPosition="right"></i>
          <span *ngIf="!isClosed">Reports</span>
        </a>

        <a routerLink="/layout/inventoryAdjustment" 
           [class.active]="activeLink === 'documents'" 
           (click)="setActiveLink('documents')">
          <i class="fa fa-file" [matTooltip]="isClosed ? 'Documents':''" 
          matTooltipPosition="right"></i>
          <span *ngIf="!isClosed">Documents</span>
        </a>
      </div>
    }
      
    
    <div class="toggle-btn" (click)="toggleSidebar()">
      <i class="fas" [matTooltip]="isClosed ? 'open': 'close'" [ngClass]="isClosed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
    </div>
  </div>
</div>
