<div class="form-container">
    <div class="header">
        <h1>All Items</h1>
        <a routerLink="/layout/item"><i class="fa fa-times"></i></a>
    </div>
    <div class="inputfieldsMain">
        <div class="inputFileds mb-5">
            <div class="typeName">
                <div class="type d-flex align-items-center">
                    <label for="type-radio-1">Type:<i class="fa fa-question-circle-o" aria-hidden="true"></i></label>
                    <div class="radio">
                        <input type="radio" [(ngModel)]="item.type" value="Goods" name="type" id="type-radio-1" checked> Goods
                        <input type="radio" [(ngModel)]="item.type" value="Service" name="type" id="type-radio-2"> Service
                    </div>
                </div>
                <div class="name d-flex align-items-center">
                    <label for="name">Name*:</label>
                    <input type="text" name="name" id="name" [(ngModel)]="item.name" required class="form-control">
                </div>
                <div class="sku d-flex align-items-center">
                    <label for="SKU">SKU: <i class="fa fa-question-circle"
                        aria-hidden="true" 
                        matTooltip="the stock kepping unit of the item"
                        matTooltipClass="custom-tooltip"
                        matTooltipPosition="right"
                        ></i></label>
                    <input type="text" name="SKU" [(ngModel)]="item.sku" id="SKU" class="form-control">
                </div>
                <div class="units d-flex align-items-center">
                    <label for="unit-select">Unit*
                        <i class="fa fa-question-circle"
                         aria-hidden="true" 
                         [matTooltip]="matTolltipMessage"
                         matTooltipClass="custom-tooltip"
                         matTooltipPosition="right"
                         ></i></label>
                    <select id="unit-select" [(ngModel)]="item.unit" name="unit-select" class="form-control">
                        <option value="Box">Box</option>
                        <option value="cm">cm</option>
                        <option value="kg">kg</option>
                        <option value="pcs">pcs</option>
                    </select>
                </div>
            </div>
            <div class="fileUpload">
                <div class="file-upload">
                    <input type="file" name="fileUpload" id="fileUpload" (change)="onFileSelected($event)" multiple>
                    <label class="imageUpload" for="fileUpload">Drag image(s) here<br> or <br><span>Browse
                            images</span></label>
                    <p>You can add up to 15 images, each not exceeding 5 MB.</p>
                </div>
            </div>
        </div>
        <div class="inputFileds">
            <div class="inputtwo" style="width: 50%;">
                <div class="dimension d-flex align-items-center mb-3">
                    <label for="Dimensions">Dimensions</label>
                    <input type="text" name="Dimensions" id="Dimensions" [(ngModel)]="item.Dimensions" class="form-control">
                </div>
                <div class="dimension d-flex align-items-center mb-3">
                    <label for="Manufacturer">Manufacturer</label>
                    <input type="text" name="Manufacturer" [(ngModel)]="item.Manufacturer" id="Manufacturer" class="form-control">
                </div>
                <div class="dimension align-items-center d-flex mb-3">
                    <label for="upc">upc <i class="fa fa-question-circle"
                        aria-hidden="true" 
                        matTooltip="twelve digit unique number associated with the bar code (Universal product code)"
                        matTooltipClass="custom-tooltip"
                        matTooltipPosition="right"
                        ></i></label>
                    <input type="text" name="upc" id="upc" [(ngModel)]="item.upc" class="form-control">
                </div>
                <div class="dimension align-items-center d-flex mb-3">
                    <label for="ean">EAN <i class="fa fa-question-circle"
                        aria-hidden="true" 
                        matTooltip="thirteen digits unique number (International Artical Number)"
                        matTooltipClass="custom-tooltip"
                        matTooltipPosition="right"
                        ></i></label>
                    <input type="text" name="ean" id="ean" [(ngModel)]="item.EAN" class="form-control">
                </div>
            </div>
            <div class="inputtwo align-items-center ms-5" style="width: 50%;">
                <div class="dimension d-flex mb-3">
                    <label for="weight">Weight</label>
                    <input type="text" name="weight" id="weight" [(ngModel)]="item.Weight" class="form-control">
                </div>
                <div class="dimension align-items-center d-flex mb-3">
                    <label for="brand">Brand</label>
                    <input type="text" name="brand" id="brand"  [(ngModel)]="item.Brand" class="form-control">
                </div>
                <div class="dimension align-items-center d-flex mb-3">
                    <label for="mpn">MPN  <i class="fa fa-question-circle"
                        aria-hidden="true" 
                        matTooltip="Manufacturing Part Number unambiguously identifies a part desgn"
                        matTooltipClass="custom-tooltip"
                        matTooltipPosition="right"
                        ></i></label>
                    <input type="text" name="mpn" id="mpn" [(ngModel)]="item.MPN" class="form-control">
                </div>
                <div class="dimension align-items-center d-flex mb-3">
                    <label for="isbn">ISBN  <i class="fa fa-question-circle"
                        aria-hidden="true" 
                        matTooltip="thirteen digits unique commercial book identifier (International standerd book number)"
                        matTooltipClass="custom-tooltip"
                        matTooltipPosition="right"
                        ></i></label>
                    <input type="text" name="isbn" id="isbn" [(ngModel)]="item.ISBN" class="form-control">
                </div>
            </div>

        </div>
        <hr width="70%" >
        <div class="salesPurchase d-flex">
        <div class="salesMain">
            <div class="salesHeading">
                <p>Sales Information</p>
            </div>
            <div class="salesInput">
                <div class="name d-flex align-items-center">
                    <label for="costPrice">Selling Price*:</label>
                    <input type="text" id="costPrice" name="costPrice" [(ngModel)]="item.price" required class="form-control">
                </div>
                <div class="name d-flex align-items-center">
                    <label for="quantity">Quantity:</label>
                    <input type="text" id="quantity" name="quantity"  [(ngModel)]="item.quantity" class="form-control">
                </div>
                <div class="name form-groups mb-4 d-flex two align-items-start mb-4">
                    <label for="Description">Description</label>
                    <textarea rows="3" id="Description" name="Description" style="min-height: 50px; width: 60%;" [(ngModel)]="item.description"
                        class="ember-text-area ember-view form-control input"></textarea>
                </div>
            </div>
        </div>
        <div class="purchaseMain">
            <div class="purchaseHeading">
                <p>Purchase Information</p>
            </div>
            <div class="purchaseInput">
                <div class="name d-flex align-items-center">
                    <label for="sellPrice">Sell Price*:</label>
                    <input type="text" name="SellPrice" id="sellPrice"  class="form-control">
                </div>
                <div class="name d-flex align-items-center">
                    <label for="account">Account:</label>
                    <input type="text" name="account" id="account" class="form-control">
                </div>
                <div class="name form-groups mb-4 d-flex two align-items-start mb-4">
                    <label for="DescriptionTwo">Description</label>
                    <textarea rows="3" name="DescriptionTwo" id="DescriptionTwo" style="min-height: 50px; width: 60%;"
                        class="ember-text-area ember-view form-control input"></textarea>
                </div>
            </div>
        </div>
        </div>
    </div>
   
    <div class="buttons p-3">
        <button class="btn btn-primary" [disabled] (click)="addItem()">Save</button>
        <button class="btn btns ms-3" routerLink="/layout/item">Cancel</button>
    </div>
</div>