<div class="supportsMain">
  <div class="supportsContent">
    <div class="heading">
      <h1>From MSMEs to large-scale corporations, Zoho Inventory supports all businesses</h1>
    </div>
    <div class="cardMain">
      <div class="card">
        <div class="flex items-center gap-3 card-title-main">
          <h3 class="card-title"><i class="fab fa-first-order"></i>Order management</h3>
        </div>
        <div class="cardTextMain">
          <p class="card-text">
            Handle all your sales and purchases activities, manage invoices and bills, and track payments.
            Zoho Inventory helps you monitor packages and shipments to keep your deliveries on time.
          </p>
          <a href="#" class="learn-more">Learn More →</a>
        </div>
      </div>
      <div class="card">
        <div class="flex items-center gap-3">
          <h3 class="card-title"><i class="fa-solid fa-house"></i>Warehouse management</h3>
        </div>
        <div class="cardTextMain">
          <p class="card-text">
            You can control your stock in different warehouses or godowns centrally from Zoho Inventory.
            Track item movements, transfer items within warehouses, and generate warehouse-specific reports.
          </p>
          <a href="#" class="learn-more">Learn More →</a>
        </div>
      </div>
      <div class="card">
        <div class="flex items-center gap-3">
          <h3 class="card-title"><i class="fa-thin fa-barcode"></i> Barcode Scanning</h3>
        </div>
        <div class="cardTextMain">
          <p class="card-text">Zoho Inventory is compatible with different types of barcode scanners which makes it easy
            to set up a barcode system and add SKUs, serial and batch numbers, and items to sales and purchase orders.
          </p>
          <a href="#" class="learn-more">Learn More →</a>
        </div>
      </div>
      <div class="card">
        <div class="flex items-center gap-3">
          <h3 class="card-title"><i class="fa-solid fa-puzzle-piece"></i>Integrations</h3>
        </div>
        <div class="cardTextMain">
          <p class="card-text">
            Sell on Shopify or Etsy, integrate with Zoho CRM and Zoho Books, and receive payment online via PayPal or
            Razorpay—there is a wide range of integrations to support your business.
          </p>
          <a href="#" class="learn-more">Learn More →</a>
        </div>
      </div>
      <div class="card">
        <div class="flex items-center gap-3">
          <h3 class="card-title"><i class="fa-solid fa-location-dot"></i>Inventory Tracking</h3>
        </div>
        <div class="cardTextMain">
          <p class="card-text">
            You can keep track of spare parts, saleable items, and even expiry dates with the serial and batch tracking
            feature of Zoho Inventory. </p>
          <a href="#" class="learn-more">Learn More →</a>
        </div>
      </div>
      <div class="card">
        <div class="flex items-center gap-3">
          <h3 class="card-title"><i class="fa-solid fa-puzzle-piece"></i>Reports</h3>
        </div>
        <div class="cardTextMain">
          <p class="card-text">
            Know your inventory aging, vendor payments, sales details and inventory valuation from a range of reports
            which can be generated, downloaded and shared easily. </p>
          <a href="#" class="learn-more">Learn More →</a>
        </div>
      </div>
    </div>
    <div class="link">
      <p>Get a Complete overview of our <span>inventory management features</span><i
          class="fa fa-angle-right fa-2xs icon"></i></p>
    </div>
  </div>
</div>