<div class="itemsMain">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="form-inline">
            <a href="">Inventory Adjustments</a>
        </div>
        <div class="buttonMain" routerLink="itemForm">
            <button type="button" class="btn" routerLink="/layout/inventoryAdjustmentForm">
                <i class="fa fa-plus" aria-hidden="true"></i> NEW
            </button>
            <i class="fa fa-ellipsis-v menu" aria-hidden="true"></i>
        </div>
    </nav>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 10px;"><input type="checkbox"></th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Reference Number</th>
                    <th scope="col">Type</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Created Time</th>
                    <th scope="col">Last Modified By</th>
                    <th scope="col">Last Modified Time</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>dd-mm-yyyy</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>dede</td>
                    <td>1987</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>dede</td>
                    <td>1987</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>dd-mm-yyyy</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>dede</td>
                    <td>1987</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>dd-mm-yyyy</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>dede</td>
                    <td>1987</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>dd-mm-yyyy</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>dede</td>
                    <td>1987</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>dd-mm-yyyy</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>dede</td>
                    <td>1987</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>dd-mm-yyyy</td>
                    <td>Thornton</td>
                    <td>fat</td>
                    <td>dede</td>
                    <td>1987</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>