<div class="dashboardMain mb-5">
  <div class="dashboard-container">
    <div class="sales-activity">
      <h5>Sales Activity</h5>
      <div class="activity-grid">
        <div class="box">
          <span class="qty blue">0</span>
          <p class="Qty">Qty</p>
          <p class="toBe">TO BE PACKED</p>
        </div>
        <div class="box">
          <span class="qty red">0</span>
          <p class="Qty">Pkgs</p>
          <p class="toBe">TO BE SHIPPED</p>
        </div>
        <div class="box">
          <span class="qty green">0</span>
          <p class="Qty">Pkgs</p>
          <p class="toBe">TO BE DELIVERED</p>
        </div>
        <div class="box">
          <span class="qty yellow">0</span>
          <p class="Qty">Qty</p>
          <p class="toBe">TO BE INVOICED</p>
        </div>
      </div>
    </div>

    <div class="inventory-summary">
      <h5>Inventory Summary</h5>
      <div class="inventory-item">
        <span class="span">QUANTITY IN HAND</span>
        <span class="value">0</span>
      </div>
      <hr />
      <div class="inventory-item">
        <span class="span">QUANTITY TO BE <br> RECEIVED</span>
        <span class="value">0</span>
      </div>
    </div>
  </div>
  <div class="dashboard-container">
    <div class="inventory-summary" style="width: 45%;">
      <h5>Inventory Summary</h5>
      <div class="inventory-main">
        <div class="inventory-item">
          <span class="span">Low Stock Items</span>
          <span class="value">0</span>
        </div>
        <div class="inventory-item">
          <span class="span">ALl Item Groups</span>
          <span class="value">0</span>
        </div>
        <div class="inventory-item">
          <span class="span">ALl Item</span>
          <span class="value">0</span>
        </div>
      </div>
    </div>

    <div class="inventory-summary" style="width: 45%;">
      <h5>Top Selling Items</h5>
      <div class="content">
        <p style="text-align: center;">no items are invoiced in this time frame</p>
      </div>
    </div>
  </div>
  <div class="dashboard-container">
    <div class="inventory-summary">
      <h5>Purchase Order</h5>
      <div class="inventory-item" style="display: flex; flex-direction: column;
  justify-content: center;
  align-items: center;">
        <span class="span">Quantity Ordered</span>
        <span class="value">0</span>
      </div>
      <hr />
      <div class="inventory-item" style="display: flex; flex-direction: column;
  justify-content: center;
  align-items: center;">
        <span class="span">Total Cost</span>
        <span class="value">0</span>
      </div>
    </div>
    <div class="sales-activity">
      <h5>Sales Order</h5>
      <div class="list">
        <ul style="    display: flex;
    list-style: none;
        padding: 0;
        justify-content: space-evenly;
        background-color: #f9f9fb;">
          <li>Channel</li>
          <li>Draft</li>
          <li>Confirmed</li>
          <li>Packed</li>
          <li>Shipped</li>
          <li>Invoiced</li>
        </ul>
      </div>
    </div>
  </div>
</div>